{% extends "home/index.html" %}

{% block content %}
{% load materialize %}
<div class="container">
    <div class="col s12">
        <h3> About this handy dandy website </h3>
        <p>
            Hey :)
            This website was created, developed, and is maintained by me, Hillary Sanders. I'm a data scientist who, during
            funemployment, wanted to make an easy-on-the-eyes website to store recipes, that could handle unit and servings
            conversion.
        </p>

        <p>
            Apart from my lovely unpaid blood sweat and tears, this site costs me about $450 a year to keep online with 0 ads,
            mostly due to AWS (Amazon Web Services) fees. As such, donations are very welcome! I'll add a donations box
            at some point, but until then, if you're feeling awesome, venmo me any amount (username: @Hillary-Sanders).
        </p>

        <p>
            If you have any feature requests, bug reports, or suggestions, feel free to e-mail me at
            hillosand <spacer>{at}</spacer> gmail <space> {dot} </space> com.
        </p>

        <p>
            To learn about me, visit my <a target="_blank" href="https://www.linkedin.com/in/hillarysanders">LinkedIn</a>
            page or my <a target="_blank" href="http://hillarysanders.com/">personal website</a>.
        </p>

    </div>
</div>
{% endblock %}