{% extends "home/index.html" %}

{% block content %}
{% load materialize %}


    <h2> Add a Recipe </h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!--{% for f in add_recipe_form %}-->
            <!--{{ f|as_material:"s12" }}-->
        <!--{% endfor %}-->
        <div class="row">
            <p>{{add_recipe_form.recipe_name|as_material:"s12 m10 l8"}}</p>
        </div>
        <div class="row">
            <p>{{add_recipe_form.num_servings|as_material:"s10 m2 l2"}}</p>
            <!--format this little image upload guy:-->
            <p>{{add_recipe_form.image|as_material:"s12 m6"}}</p>
            <!--{% if add_recipe_form.image %}-->
                <!--<img src="{{ add_recipe_form.image.url }}" />-->
            <!--{% endif %}-->

        </div>
        <div class="row">
            <p>   {{add_recipe_form.prep_time_hours|as_material:"s5 m2 l2"}}</p>
            <p> {{add_recipe_form.prep_time_minutes|as_material:"s7 m2 l2"}}</p>
            <p>   {{add_recipe_form.cook_time_hours|as_material:"s5 m2 l2"}}</p>
            <p> {{add_recipe_form.cook_time_minutes|as_material:"s7 m2 l2"}}</p>
            <p>    {{add_recipe_form.ready_in_hours|as_material:"s5 m2 l2"}}</p>
            <p>  {{add_recipe_form.ready_in_minutes|as_material:"s7 m2 l2"}}</p>

            <p>{{add_recipe_form.description|as_material:"s12"}}</p>
        </div>

        <div class="row">
            <p>{{add_recipe_form.ingredients_text|as_material:"s12 m6"}}</p>
            <div class="col s12 m6 textbox">  TODO (realtime validation textbox)  </div>
        </div>
        <div class="row">
            <p>{{add_recipe_form.instructions_text|as_material:"s12 m6"}}</p>
            <div class="col s12 m6 textbox"> TODO (realtime validation textbox) </div>
        </div>

        <br><br>
        <input type="submit" value="Submit" class="waves-effect waves-light btn col2"/>
    </form>

    {% if add_recipe_form.errors %}
        {% for field in add_recipe_form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong class="red">{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in add_recipe_form.non_field_errors %}
            <div class="alert alert-danger">
                <strong class="red">{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
