{% extends "home/index.html" %}

{% block content %}
{% load materialize %}

<h2> My Cookbook </h2>


<nav class="searchnav col2">
    <div class="nav-wrapper">
        <form method="get" action="{% url 'home:cookbook' %}">
            <div class="input-field">
                <input id="search" type="search" name="search">
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
            <div class="col s12">
                <input type="checkbox" id="bool_search" name="public_search" {{public_search_attr}}/>
                <label for="bool_search">Search all public recipes</label>
            </div>
        </form>
    </div>
</nav>


<br><br><br>
<div class="row">
    {% for recipe in recipes %}

     {% if forloop.counter|divisibleby:2 %}
        <div class="col s12">
            {% else %}
        <div class="col s12 col3">
            {% endif %}

            <div class="cookbook_recipe_holder col s10">
                <div class="recipe_title col s12"><a href="{% url 'home:recipe_detail' recipe.slug recipe.pk %}">
                    {{recipe.recipe_name|capfirst}}
                </a></div>

                <div class="recipe_stuff col s12 m10 truncate">
                    {{recipe.description|safe}}
                </div>

            </div>

            {% if recipe.thumbnail %}
                <div class="col s2 right center">
                    <img class="circle responsive-img cookbook_thumbnail" src="{{ recipe.thumbnail.url }}">
                </div>
            {% endif %}
        </div>

    {% endfor %}
</div>
{% endblock %}
