{% extends "home/index.html" %}

{% block content %}
{% load materialize %}

<a href="{% url 'home:cookbook' %}"><h2>My Cookbook</h2></a>


<nav class="searchnav col2">
    <div class="nav-wrapper">
        <form method="GET" action="{% url 'home:cookbook' %}">
            <div class="input-field">
                <input id="search" type="search" name="search" value="{{search_text}}">
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
            <div class="col s12">
                <input type="checkbox" onChange="this.form.submit()" id="bool_search" name="public_search" {{public_search_attr}}/>
                <label for="bool_search">Include public recipes</label>
            </div>
        </form>
    </div>
</nav>


<br><br><br>
<div class="row">
    <div class="col s12">
         {% for recipe in recipes %}

            {% if forloop.counter|divisibleby:2 %}
            <div class="col s12">
            {% else %}
            <div class="col s12 col3">
            {% endif %}

            <div class="cookbook_recipe_holder col s6">
                <div class="col s12">
                    <h5>
                    <a href="{% url 'home:recipe_detail' recipe.slug recipe.pk %}">{{recipe.recipe_name|capfirst}}</a>
                    </h5>
                </div>

                <div class="recipe_stuff col s12 m10 truncate">
                    {{recipe.description|safe}}
                </div>

            </div>

            <!--{% if recipe.thumbnail %}-->
                <!--<div class="col s2 right center">-->
                    <!--<img class="circle responsive-img cookbook_thumbnail" src="{{ recipe.thumbnail.url }}">-->
                <!--</div>-->
            <!--{% endif %}-->

            <div class="col s2 l1 push-l3 center">

                {% if recipe.bw_pngs.0 %}
                    {% with 'https://s3-us-west-2.amazonaws.com/bw-pngs/thumbnail/'|add:recipe.bw_pngs.0 as src %}
                        <span class="valign_helper"></span><img src="{{src}}" class="cookbook_thumbnail">
                    {% endwith %}
                {% endif %}
            </div>
            <div class="col s2 l1 push-l3 center">
                {% if recipe.bw_pngs.1 %}
                    {% with 'https://s3-us-west-2.amazonaws.com/bw-pngs/thumbnail/'|add:recipe.bw_pngs.1 as src %}
                        <span class="valign_helper"></span><img src="{{src}}" class="cookbook_thumbnail">
                    {% endwith %}
                {% endif %}
            </div>
            <div class="col s2 l1 push-l3 center">
                {% if recipe.bw_pngs.2 %}
                    {% with 'https://s3-us-west-2.amazonaws.com/bw-pngs/thumbnail/'|add:recipe.bw_pngs.2 as src %}
                        <span class="valign_helper"></span><img src="{{src}}" class="cookbook_thumbnail">
                    {% endwith %}
                {% endif %}
            </div>
            </div>

        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

