<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'home/css/materialize.min.css' %}"
          media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--load website base css:-->
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}"/>
    <!--google fonts: -->
    <link href="https://fonts.googleapis.com/css?family=David+Libre|Great+Vibes|Clicker+Script" rel="stylesheet">

</head>

<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'home/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/style.js' %}"></script>

<main>
    <div class="navbar-fixed">
        <nav class="col1">
            <div class="nav-wrapper">
                <a href="{% url 'home:welcome' %}" class="brand-logo">&nbsp;RecipeReader</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <!--change to hide-on-med-and-down for navbar to disappear on medium screens too:-->
                <ul class="right center hide-on-med-and-down">
                    <li><a href="{% url 'home:add_recipe' %}">add a recipe</a></li>
                    <li><a href="{% url 'home:cookbook' %}">cookbook</a></li>
                    <li><a href="#!">{{ user.username }}</a></li>
                    <li><a href="{% url 'home:logout_user' %}">logout</a></li>
                </ul>

                <!--mobile navbar:-->
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{% url 'home:add_recipe' %}">add a recipe</a></li>
                    <li><a href="{% url 'home:cookbook' %}">cookbook</a></li>
                    <li><a href="#!">{{ user.username }}</a></li>

                </ul>
            </div>
        </nav>
    </div>


    <div class="container">
        <br>

        <div id="content">
            {% block content %}
            <!--this is where content from child templates will go-->
            {% endblock %}
        </div>
    </div>


</main>
</body>

<footer class="page-footer col1">
    <div class="footer-copyright col3">
        <div class="container col1">
            <a class="grey-text left">© 2016 Hillary Sanders</a>
            <a class="grey-text right" href="{% url 'home:about' %}">about this site</a>
        </div>
    </div>
</footer>
</html>
