<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'home/css/materialize.min.css' %}"
          media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--load website base css:-->
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}"/>
    <!--google fonts: -->
    <link href="https://fonts.googleapis.com/css?family=David+Libre|Great+Vibes|Clicker+Script" rel="stylesheet">

    <title>RecipeStasher</title>
    <meta name="author" content="Hillary Sanders">
    <meta name="keywords" content="recipe stasher cookbook store recipes parse Hillary Sanders food">
    <meta name="description" content="Save recipes by copy pasting a recipe
                from anywhere. RecipeStasher will parse it, save it, and allow you to easily change
                servings and units.">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!--https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js-->
<script type="text/javascript" src="{% static 'home/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/style.js' %}"></script>

<main>
    <div class="navbar-fixed">
        <nav class="col1">
            <div class="nav-wrapper">
                <a href="{% url 'home:welcome' %}" class="brand-logo">&nbsp;RecipeStasher</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <!--change to hide-on-med-and-down for navbar to disappear on medium screens too:-->
                <ul class="right center hide-on-med-and-down">
                    <li><a href="{% url 'home:add_recipe' %}">add a recipe</a></li>
                    <li><a href="{% url 'home:cookbook' %}">cookbook</a></li>

                    <!-- slightly different navbar based on if user is logged in or not:-->
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'home:profile' %}">{{ user.username }}</a></li>
                        <li class="col3"><a href="{% url 'home:logout_user' %}">logout</a></li>
                    {% else %}
                        <li class="col2"><a href="{% url 'home:login' %}">login | create account</a></li>
                    {% endif %}
                </ul>

                <!-- mobile navbar: -->
                <ul class="col2 side-nav center" id="mobile-demo">
                    <li class="col1 sidenav_btn"><a href="{% url 'home:add_recipe' %}">add a recipe</a></li>
                    <li class="col1 sidenav_btn"><a href="{% url 'home:cookbook' %}">cookbook</a></li>
                    <!-- slightly different navbar based on if user is logged in or not:-->
                    {% if user.is_authenticated %}
                        <li class="col1 sidenav_btn"><a href="{% url 'home:profile' %}">{{ user.username }}</a></li>
                        <li class="grey lighten-1 sidenav_btn"><a href="{% url 'home:logout_user' %}">logout</a></li>
                    {% else %}
                        <li class="col1 sidenav_btn"><a href="{% url 'home:login' %}">login | create account</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    <div id="content">
        {% block content %}
        <!--this is where content from child templates will go-->
        {% endblock %}
    </div>


</main>
{% block javascript %}{% endblock %}
</body>

<footer class="page-footer col1">
    <div class="footer-copyright col3">
        <div class="container col1">
            <a class="grey-text left">© 2016 Hillary Sanders</a>
            <a class="grey-text right" href="{% url 'home:about' %}">about this site</a>
        </div>
    </div>
</footer>
</html>
