<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/materialize.css' %}"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}"/>

    </head>

    <main>
        <nav class="col1">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">&nbsp;RecipeReader</a>
                <ul class="right">
                    <li><a href="#!"><i class="small material-icons">library_add</i></a></li>
                    <li><a href="#!"><i class="small material-icons">mode_edit</i></a></li>
                    <li><a href="#!"><i class="small material-icons">library_books</i></a></li>
                    <li><a href="#!"><i class="small material-icons">assignment_ind</i></a></li>
                </ul>
            </div>
        </nav>

        <nav class="searchnav col2">
            <div class="nav-wrapper">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>

        <br>
        <h4>Context dictionary:</h4>
        {{ a }}
        <br>a = {{ a }}
    </main>

    <footer class="page-footer col1">
        <div class="footer-copyright col1">
            <div class="container col1">
                © 2016 Hillary Sanders
                <a class="grey-text text-lighten-4 right" href="#!">Contact Me</a>
            </div>
        </div>
    </footer>
</html>
