{% extends "home/index.html" %}
{% block content %}
{% load materialize %}
<!--this is where content from child templates will go-->

<div class="container">
    <div class="row">
        {% if error_messages %}
            <div class="card-panel">
              <span class="center red-text text-darken-2">
                  {% for k, v in error_messages.items %}
                    {{v}}
                  {% endfor %}
              </span>
            </div>
        {% endif %}
        <div class="col login_pushdown s12 m10 l8 push-m1 push-l2">
            <!--<div class="col login_pushdown s12">-->

            <div class="col s12 m6 l6">
                <center><h4>login</h4></center>
                <form action="/login/" method="post">
                    {% csrf_token %}
                    {% for f in loginform %}
                        {{ f|as_material:"s12" }}
                    {% endfor %}
                    <input type="submit" id="loginbtn" value="Submit" name="loginSubmit" style="display: none;"/>
                    <label for="loginbtn" class="waves-effect waves-light btn col2">Submit</label>
                </form>
            </div>

            <div class="col s12 m6 l6">
                <center><h4> create an account</h4></center>
                <form action="/login/" method="post">
                    {% csrf_token %}
                    <!--ajax username-already-exists validation:-->
                    <p id="username_validation" class="red-text"> {{content.error_message}}</p>

                    {% for f in createuserform %}
                        {{ f|as_material:"s12" }}
                    {% endfor %}
                    <input type="submit" id="cubtn" value="Submit" name="createUserSubmit" style="display: none;"/>
                    <label for="cubtn" class="waves-effect waves-light btn col2">Submit</label>
                </form>
                <br>
            </div>


        </div>

    </div>
</div>

{% endblock %}

{% block javascript %}
  <script>
    $("#id_username").change(function () {
      var username = $(this).val();

      $.ajax({
        url: '/ajax/validate_username/',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            console.log(data.error_message)
            $('#username_validation').html(data.error_message);
          }
        }
      });

    });
  </script>
{% endblock %}