{% extends "home/index.html" %}

{% block content %}
{% load static %}
<!--{% load materialize %}-->
<h2 class="center"> {{ recipe.recipe_name }} </h2>

<div class="row">
    <div class="red center-align">{{ form.name.errors }}</div>

    <div class="col s12 recipe_topper">
        <div class="valign-wrapper col s12">
            <div class="col s12 m4 l4 left">
                <br>
                <i class="left-align">{{ recipe.description }}</i>
            </div>

            <!--servings_box-->
            <div class="col s12 m4 l4 center-align valign-wrapper">

                <div class="col s6 right-align">
                    <h5 class="servtext">Servings:</h5>
                </div>
                <div class="col s6 left-align">
                  <form action="." method="post">
                        {% csrf_token %}
                        {{ servings_form.servings|as_material:"" }}
                        <input type="submit" id="servbtn" value="Submit" name="servingsSubmit" style="display: none;"/>

                        <a class="tooltipped" data-position="bottom" data-delay="50">
                            <label for="servbtn" class="btn-floating btn-med waves-effect col2 center servgo">Go</label>
                        </a>
                    </form>
                </div>
            </div>


            <div class="col s12 m4 l4 right">
                <div class="center col s12">{{ recipe.get_prep_time }}</div>
                <div class="center col s12">{{ recipe.get_cook_time }}</div>
                <div class="center col s12">{{ recipe.get_ready_in_time }}</div>
            </div>

        </div>

    </div>
    <div class="col s12 spacer10px"></div>

    <div class="col s12 recipe_text">

            {% if recipe.image %}
                <div class="col s12 m12 l8 image_ingredients_holder">
                    <div class="col s12 m6 l6 recipe_image">
                        <!--<div class="col s12 m12 l12 center">-->
                            <!--<div class="col s12">{{ recipe.get_prep_time }}</div>-->
                            <!--<div class="col s12">{{ recipe.get_cook_time }}</div>-->
                            <!--<div class="col s12">{{ recipe.get_ready_in_time }}</div>-->
                        <!--</div>-->
                         <!--<div class="col s12 m12 l12">-->
                             <!--<br>-->
                             <!--<i>{{ recipe.description }}</i>-->
                         <!--</div>-->
                        <br>


                        <img src="{{ recipe.image.url }}"/>
                    </div>

                    <!--ingredients:-->
                    <div class="col s12 m6 l6 ingredients">
                        <h5 class="center">Ingredients</h5>
                        {% for line in hi_ingredients %}
                        <text_indent>{{line|safe}}</text_indent>
                        <br>
                        {% endfor %}
                    </div>
                </div>

            {% elif True %}
                <!--ingredients:-->


                <div class="col s12 m6 l6 image_ingredients_holder">
                    <!--<div class="col s12 valign-wrapper">-->
                        <!--<div class="col s12 m6 left">-->
                            <!--<i>{{ recipe.description }}</i>-->
                        <!--</div>-->
                        <!--<div class="col s12 m6 right">-->
                                    <!--<div class="col s12 m12 l12 center">-->
                                        <!--<div class="col s12">{{ recipe.get_prep_time }}</div>-->
                                        <!--<div class="col s12">{{ recipe.get_cook_time }}</div>-->
                                        <!--<div class="col s12">{{ recipe.get_ready_in_time }}</div>-->
                                    <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="col s12 ingredients">
                    <h5 class="center">Ingredients</h5>
                        {% for line in hi_ingredients %}
                            <text_indent>{{line|safe}}</text_indent>
                            <br>
                        {% endfor %}
                    </div>
                </div>

            {% endif %}

            <!--directions:-->

            <h5 class="center">Directions</h5>
            {% for line in hi_instructions %}
                {{line|safe}}
                <br>
            {% endfor %}
    </div>
</div>

<!-- Modal Trigger -->
<div id="confirmdeletemodal" class="modal modal-fixed-footer">
    <div class="modal-content pale_red">
      <h4>Are you sure you want to delete your recipe?</h4>
      <p>Are you sure you want to delete {{recipe.recipe_name}}?</p>
    </div>
    <div class="modal-footer">
      <a href="{% url 'home:delete_recipe' recipe.id %}" class="red modal-action modal-close waves-effect waves-green btn-flat">Yes, Delete</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Nevermind!</a>
    </div>
</div>

<!--buttons for editing, commenting on recipe:-->
<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">

    <a class="btn-floating btn-large col2">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li><a class="modal-trigger waves-effect waves-light btn ghostbtn col1" href="#confirmdeletemodal">delete recipe</a></li>
        <li><a class="waves-effect waves-light btn ghostbtn col1" href="{% url 'home:edit_recipe' recipe.slug recipe.id %}">edit recipe</a></li>
        <li><a class="waves-effect waves-light btn ghostbtn col1" href="#!">change units</a></li>
    </ul>
</div>





<!--{% for field in recipe.get_all_fields %}-->
<!--<h5>{{field.label|capfirst}}</h5>-->
<!--{{field.value|escape|urlize|linebreaks}}-->
<!--<br>-->
<!--{% endfor %}-->

<!--<div class="row">-->
<!--<div class="col s12 m3 l2">-->
<!--<p>{{recipe.prep_time}}</p>-->
<!--<p>{{recipe.prep_time}}</p>-->
<!--<p>{{recipe.cook_time}}</p>-->
<!--<p>{{recipe.ready_in}}</p>-->
<!--<p>{{recipe.num_servings}}</p>-->
<!--</div>-->
<!--<div class="col s12 m9 l10">-->
<!--<p>{{recipe.recipe_name}}</p>-->
<!--<p>{{recipe.description}}</p>-->
<!--<p>{{recipe.ingredients_text}}</p>-->
<!--<p>{{recipe.instructions_text}}</p>-->
<!--<p>{{recipe.image}}</p>-->
<!--</div>-->
<!--</div>-->


{% endblock %}