{% extends "home/index.html" %}

{% block content %}
{% load static %}
<!--{% load materialize %}-->
<div class="container fullwidth_container">
    <!--<div id="circle-container">-->
        <!--{% if bw_pngs %}-->
            <!--{% for path, class in bw_pngs.items %}-->
                <!--{% with 'https://s3-us-west-2.amazonaws.com/bw-pngs/medium/'|add:path as src %}-->
                    <!--<div class="field hide"><img class="bw_png center" src="{{src}}"></div>-->
                <!--{% endwith %}-->
            <!--{% endfor %}-->
        <!--{% endif %}-->
    <!--</div>-->
    <div class="row">
        <div class="red center-align">{{ form.name.errors }}</div>

        <div class="col s12 valign-wrapper">
            <div class="col s12 center">
                <h2 class="center recipe_title"> {{ recipe.recipe_name }} </h2>
            </div>
        </div>

        <div class="col s12 up_15">

            <div class="col m2 l3 hide-on-small-only">
                {% if bw_pngs %}
                    {% for path, class in bw_pngs.items %}
                        {% if forloop.counter|divisibleby:2  %}
                            {% with 'https://s3-us-west-2.amazonaws.com/bw-pngs/medium/'|add:path as src %}
                                <div class="">
                                    <img class="bw_png responsive-img center" src="{{src}}">
                                </div>

                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col s12 m8 l6 content">
                {% block rec %}
                <!--this is where content from child templates will go-->
                {% endblock %}
            </div>
            <div class="col m2 l3 hide-on-small-only">
                {% if bw_pngs %}
                    {% for path, class in bw_pngs.items %}
                        {% if not forloop.counter|divisibleby:2  %}
                            {% with 'https://s3-us-west-2.amazonaws.com/bw-pngs/medium/'|add:path as src %}
                                <div class="">
                                    <img class="bw_png  responsive-img center" src="{{src}}">
                                </div>

                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                {% endif %}            </div>
        </div>
    </div>


    <!--<div class="col s12 spacer10px col1"></div>-->

    </div>

    <div class="center">
        <img src="https://s3-us-west-2.amazonaws.com/bw-pngs/other/loading.gif" alt="loading" id="loading_id" class="hide">
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
function  add_recipe_to_stash() {
  var recipe_pk = document.getElementById("recipe_pk").innerHTML
  var stash_plus_or_minus = document.getElementById("stash_recipe_btn").innerHTML
  $.ajax({
    url: '/ajax/add_recipe_to_stash/',
    type: 'GET',
    data: {
      'recipe_pk': recipe_pk,
      'stash_plus_or_minus': stash_plus_or_minus,
    },
    dataType: 'json',
    success: function (data) {
        console.log('Yay. Recipe added <3')
        document.getElementById("stash_recipe_btn").innerHTML = data.stash_plus_or_minus;
        $('#stash_recipe_tooltip').tooltip('remove');
        $("#stash_recipe_tooltip").tooltip({'tooltip': data.stash_tooltip});


    }
  });
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


function change_units(kind) {
  var ingredients = document.getElementById("ingredients").innerHTML
  var instructions = document.getElementById("instructions").innerHTML

  <!--load loading gif:-->
  document.getElementById("loading_id").className = ''

  // close dropdown:
  $('.dropdown-button').dropdown('close');

  $.ajax({
    url: '/ajax/change_units/',
    type: 'POST',
    <!--proccessData: false,-->
    data: {
      'ingredients': ingredients,
      'instructions': instructions,
      'units_type': kind
    },
    dataType: 'json',
    success: function (data) {
        console.log('Yay. Ajax unit conversion <3')
        document.getElementById("hi_ingredients").innerHTML = data.hi_ingredients;
        document.getElementById("ingredients").innerHTML = data.ingredients;
        document.getElementById("hi_instructions").innerHTML = data.hi_instructions;
        document.getElementById("instructions").innerHTML = data.instructions;
        <!--remove loading gif:-->
        document.getElementById("loading_id").className = 'hide'

    }
  });
}

function change_servings() {
  var ingredients = document.getElementById("ingredients").innerHTML
  var instructions = document.getElementById("instructions").innerHTML
  var servings = document.getElementById("id_servings").value;
  var initial_servings = document.getElementById("initial_servings").innerHTML
  var most_recent_servings = document.getElementById("most_recent_servings").innerHTML

  <!--load loading gif:-->
  document.getElementById("loading_id").className = ''

  $.ajax({
    url: '/ajax/change_servings/',
    type: 'POST',
    <!--proccessData: false,-->
    data: {
      'ingredients': ingredients,
      'instructions': instructions,
      'servings': servings,
      'most_recent_servings': most_recent_servings
    },
    dataType: 'json',
    success: function (data) {
        console.log('Yay. Ajax servings conversion <3')
        document.getElementById("hi_ingredients").innerHTML = data.hi_ingredients;
        document.getElementById("ingredients").innerHTML = data.ingredients;
        document.getElementById("hi_instructions").innerHTML = data.hi_instructions;
        document.getElementById("instructions").innerHTML = data.instructions;
        document.getElementById("most_recent_servings").innerHTML = data.servings;
        <!--remove loading gif:-->
        document.getElementById("loading_id").className = 'hide'
        console.log('HELLO???')
    }
  });
}

function addClickHandlers() {
  $("#change_units_metric").click( function() { change_units("metric") });
  $("#change_units_us").click( function() { change_units("us") });
  <!--$("#change_units_original").click( function() { change_units("original") });-->
  $("#servings_btn").click( function() { change_servings() });
  $("#stash_recipe_btn").click( add_recipe_to_stash );
}

<!--function bwPngPlacement() {-->

    <!--var x_radius = $('#circle-container').width() / 2-->
    <!--var y_radius = $('#circle-container').height() / 2-->
    <!--var fields = $('.field'), container = $('#circle-container'), width = container.width(), height = container.height();-->
    <!--var angle = 0, step = (2*Math.PI) / fields.length;-->
    <!--fields.each(function() {-->
        <!--&lt;!&ndash;console.log(angle)&ndash;&gt;-->
        <!--// make sure that the class 'hide' is removed so that images appear once they are loaded and positioned!-->
        <!--this.className = this.className.replace(/\bhide\b/,'');-->
        <!--if ((angle > 5.75) || (angle <= .52)) { // right hand side of oval-->
            <!--var x = Math.round(width/2 + x_radius * Math.cos(angle) - $(this).width());-->
            <!--var y = Math.round(height/2 + y_radius * Math.sin(angle) - $(this).height()/2);-->
            <!--&lt;!&ndash;console.log('RIGHT!');&ndash;&gt;-->
        <!--} else if ((2.6 < angle) && (angle  <= 3.66)) { // left hand side of oval-->
            <!--var x = Math.round(width/2 + x_radius * Math.cos(angle) - 0);-->
            <!--var y = Math.round(height/2 + y_radius * Math.sin(angle) - $(this).height()/2);-->
            <!--&lt;!&ndash;console.log('LEFT!');&ndash;&gt;-->
        <!--} else if ((4.18 < angle) && (angle  <= 5.23)) { // bottom side of oval-->
            <!--var x = Math.round(width/2 + x_radius * Math.cos(angle) - $(this).width()/2);-->
            <!--var y = Math.round(height/2 + y_radius * Math.sin(angle));-->
            <!--&lt;!&ndash;console.log('Bottom!');&ndash;&gt;-->
        <!--} else if ((1.04 < angle) && (angle  <= 2.09)) { // top hand side of oval-->
            <!--var x = Math.round(width/2 + x_radius * Math.cos(angle) - $(this).width()/2);-->
            <!--var y = Math.round(height/2 + y_radius * Math.sin(angle) - $(this).height());-->
            <!--&lt;!&ndash;console.log('TOP');&ndash;&gt;-->
        <!--} else if ((3.66 < angle) && (angle  <= 5.75)) { // wider bottom side of oval-->
            <!--var x = Math.round(width/2 + x_radius * Math.cos(angle) - $(this).width()/2);-->
            <!--var y = Math.round(height/2 + y_radius * Math.sin(angle) - $(this).height()*.1);-->
            <!--&lt;!&ndash;console.log('wider bottom!');&ndash;&gt;-->
        <!--} else {-->
            <!--var x = Math.round(width/2 + x_radius * Math.cos(angle) - $(this).width()/2);-->
            <!--var y = Math.round(height/2 + y_radius * Math.sin(angle) - $(this).height()/2);-->
            <!--&lt;!&ndash;console.log('no effects!');&ndash;&gt;-->
        <!--}-->

        <!--$(this).css({-->
            <!--left: x + 'px',-->
            <!--top: y + 'px'-->
        <!--});-->
        <!--angle += step;-->

        <!--&lt;!&ndash;console.log(this.className);&ndash;&gt;-->
    <!--})-->
<!--}-->

$(document).ready(function() {
    <!--$('select').material_select();-->
    // unit and servings buttons (AJAX):
    addClickHandlers();
    // tooltip:
    var $stash_tooltip = $('#stash_tooltip').html() // jQuery collection's html
    console.log($stash_tooltip)
    $('#stash_recipe_tooltip').tooltip({delay: 50, tooltip: $stash_tooltip});

});

<!--window.onload = bwPngPlacement;-->
<!--window.onresize = bwPngPlacement;-->
</script>
{% endblock %}

