{% extends "home/index.html" %}

{% block content %}
{% load static %}
<!--{% load materialize %}-->
<h2 class="center"> {{ recipe.recipe_name }} </h2>

<div class="row">

    <div class="center-align servings_box">
        <form action="." method="post">
            {% csrf_token %}
            <t class="serves_text">servings:</t>
            {{ servings_form.servings|as_material:"s4 m3 l2" }}

                <input type="submit" id="servbtn" value="Submit" name="servingsSubmit" style="display: none;"/>

            <a  class="tooltipped" data-position="bottom" data-delay="50">
            <label for="servbtn" class="btn-floating btn-med waves-effect col2 servingbtn">Go</label>
            </a>

        </form>
        <div class="red center-align">{{ form.name.errors }}</div>
    </div>

    <!--{% if changed_servings %}-->
        <!--<img class="responsive-img circle" src="{% static 'home/images/chef-pictures-clipart.jpeg' %}" width="400"/>-->
    <!--{% endif %}-->

    <div class="col s12 recipe_text">
        <!--recipe image, time took prep / cook / make, description:-->
        <div class="col s12 m4 l4 recipe_image float_left">
            <div class="col s12 m12 l12">
                <div class="col s12 m12 l12 center margin_10">
                    <div class="col s12">{{ recipe.get_prep_time }}</div>
                    <div class="col s12">{{ recipe.get_cook_time }}</div>
                    <div class="col s12">{{ recipe.get_ready_in_time }}</div>
                </div>
                <i>{{ recipe.description }}</i>

            </div>

            {% if recipe.image %}
            <img src="{{ recipe.image.url }}"/>
            {% endif %}
        </div>

        <!--ingredients:-->
        <div class="col s12 m4 l4 recipe_text">
            <h5 class="center">Ingredients</h5>
            {% for line in hi_ingredients %}
                <text_indent>{{line|safe}}</text_indent>
                <br>
            {% endfor %}
        </div>

        <!--directions:-->
        <h5 class="center">Directions</h5>
        {% for line in hi_instructions %}
            {{line|safe}}
            <br>
        {% endfor %}
    </div>
</div>

<!-- Modal Trigger -->
<div id="confirmdeletemodal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Are you sure you want to delete your recipe?</h4>
      <p>Are you sure you want to delete {{recipe.recipe_name}}?</p>
    </div>
    <div class="modal-footer">
      <a href="{% url 'home:delete_recipe' recipe.id %}" class="modal-action modal-close waves-effect waves-green btn-flat">Yes, Delete</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Nevermind!</a>
    </div>
</div>

<!--buttons for editing, commenting on recipe:-->
<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">

    <a class="btn-floating btn-large col2">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li><a class="modal-trigger waves-effect waves-light btn ghostbtn col1" href="#confirmdeletemodal">delete recipe</a></li>
        <li><a class="waves-effect waves-light btn ghostbtn col1" href="{% url 'home:edit_recipe' recipe.id %}">edit recipe</a></li>
        <li><a class="waves-effect waves-light btn ghostbtn col1" href="#!">change units</a></li>
        <li><a class="waves-effect waves-light btn ghostbtn col1" href="#!">change servings</a></li>
    </ul>
</div>





<!--{% for field in recipe.get_all_fields %}-->
<!--<h5>{{field.label|capfirst}}</h5>-->
<!--{{field.value|escape|urlize|linebreaks}}-->
<!--<br>-->
<!--{% endfor %}-->

<!--<div class="row">-->
<!--<div class="col s12 m3 l2">-->
<!--<p>{{recipe.prep_time}}</p>-->
<!--<p>{{recipe.prep_time}}</p>-->
<!--<p>{{recipe.cook_time}}</p>-->
<!--<p>{{recipe.ready_in}}</p>-->
<!--<p>{{recipe.num_servings}}</p>-->
<!--</div>-->
<!--<div class="col s12 m9 l10">-->
<!--<p>{{recipe.recipe_name}}</p>-->
<!--<p>{{recipe.description}}</p>-->
<!--<p>{{recipe.ingredients_text}}</p>-->
<!--<p>{{recipe.instructions_text}}</p>-->
<!--<p>{{recipe.image}}</p>-->
<!--</div>-->
<!--</div>-->


{% endblock %}