{% extends "home/index.html" %}

{% block content %}
{% load materialize %}


<div class="welcome_circle col2">

    <p class="welcome center">Welcome!</p>
    <div class="welcome_text center">
        <div class="col s7">
            <p class="flow_text">Welcome to RecipeReader. Save recipes by copy pasting a recipe
                from anywhere. RecipeReader will parse it, save it, and allow you to easily change
                servings and units (volume / metric / imperial).
                <br><br>
                Not only does our text processing beat other recipe sites' butts, this site will
                never beg you to share and flickr and twitter and facebook literally everything you do ever.
                <br><br>
                Peace out, and enjoy.
            </p>
        </div>
    </div>

</div>

{% endblock %}