{% extends "home/index.html" %}

{% block content %}
{% load materialize %}


<div class="welcome_circle col2">

    <p class="welcome center">Welcome!</p>
    <div class="welcome_text center">
        <div class="col s7">
            <p class="flow_text">Welcome to RecipeStasher. Save recipes by copy pasting a recipe
                from anywhere. RecipeStasher will parse it, save it, and allow you to easily change
                servings and units (metric / U.S.).
                <br><br>
                Not only is RecipeStasher's text processing better than other recipe sites';
                RecipeStasher will never beg you to share and flickr and twitter and facebook
                literally everything you do ever.
                <br><br>
                Peace out, and enjoy.
            </p>
        </div>
    </div>

</div>

{% endblock %}