
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*.idea
*.pyc

# heavy files that will need to be added by hand:
*.csv
*.json
*.png
*.jpg
*.jpeg
*.zip
