body {
    background: #A8C3D6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.col1 {
    background: #7893A6 !important;
}
.col2 {
    background: #688396 !important;
}






.col1 {
    background: #ffffe6 !important;
}
.col2 {
    background: #acbfcc !important;
}
body {
    background: #ffffe6;
}
a:link {
color: #445570;
}
a:visited {
color: #445570;
}
a:hover {
color: #667793;
}




footer.page-footer {
  padding-top: 0px;
}


_nav .brand-logo {
    color: 000;
}

.login_pushdown {
    /* push down the login boxes some % of viewport */
    margin-top: 5vh;
    border: 3px solid #888899;
}







.big_form_input {
    height: 100px;
}


input[type="number"] {
  font-size: 12pt;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    height: 6em;
    width: 6ch;
  }
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container {
  margin: 0 auto;
  max-width: 2560px;
  width: 90%;
}

.float_left {
    float: left;
}
.margin_10 {
    margin: 10px;
}
.recipe_image img{
    width: 100%;
    margin-top: 10px;
}

.recipe_text {
    margin: 30px;
    margin-top: 0px;
}

highlighted {
    background-color: #ffff00;
}



