body {
    background: #A8C3D6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.col1 {
    background: #7893A6 !important;
}
.col2 {
    background: #688396 !important;
}

footer.page-footer {
  padding-top: 0px;
}


_nav .brand-logo {
    color: 000;
}

.login_pushdown {
    /* push down the login boxes some % of viewport */
    margin-top: 5vh;
    border: 3px solid #888899;
}

.icontxtpush {
 margin-top: -10px;
 margin-bottom: -40px;
}


.big_form_input {
    height: 100px;
}