body {
    background: #A8C3D6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'David Libre', serif;
}
nav .brand-logo {
    font-family: 'Great Vibes', cursive;
    font-size: 43px;
    margin-top: 5px;
}
main {
    flex: 1 0 auto;
}

.col1 {
    background: #7893A6 !important;
}
.col2 {
    background: #688396 !important;
}






.col1 {
    background: #ffffe6 !important;
}
.col2 {
    background: #acbfcc !important;
}
.col3 {
    background: #eeecd9 !important;
}
.colaccent {
    background: #d9e6e2 !important;
}
body {
    background: #ffffe6;
}
a:link {
color: #445570;
}
a:visited {
color: #445570;
}
a:hover {
color: #667793;
}




footer.page-footer {
  padding-top: 0px;
}


_nav .brand-logo {
    color: 000;
}

.login_pushdown {
    /* push down the login boxes some % of viewport */
    margin-top: 5vh;
    border: 3px solid #888899;
}

.big_form_input {
    height: 100px;
}


input[type="number"] {
  font-size: 12pt;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    height: 6em;
    width: 6ch;
  }
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container {
  margin: 0 auto;
  max-width: 2560px;
  width: 90%;
}

.float_left {
    float: left;
}
.margin_10 {
    margin: 10px;
    margin-top: 0px;
}


/* recipe detail page */

/* the servings / units inputs */
.unitsform {
    font-size: 18px !important;
    margin-top: 24px;
    max-width: 130px;
}
/* the servings input button */

.servtext {
 margin-right: -8px;
 font-size: 18px;
}
.spacer10px {
    height: 10px;
}
.up_10 {
    margin-top: -15px;
    margin-bottom: 5px;
}
.recipe_topper {
    background-color: #f3ecdc;
    height: 86px;
}
.servgo {
    font-size: 14px;
    margin-left: -4px;
}
#id_servings {
    width: 30px;
    margin-left: -8px;
    margin-top: 20px;
    font-size: 18px;
}

text_indent {
  display: inline-block;
  text-indent: -10px;
  margin-left: 10px;
  line-height: 16px;
  margin-top: 3px;
}

.recipe_text {
    background-color: #f3ecdc;
    min-height: 100px;
}

.detail_edit_btn {
    margin: 5px;
}
.detail_delete_btn {
    margin: 5px;
}
.author_icon {
    max-height: 40px;
    margin-left: 2px;
    margin-right: -10px;
}
.recipe_time {
    margin-top: 13px;
}
.image_ingredients_holder {
    background-color: #fff9e0;
    margin: 10px;
}
.recipe_image img {
    .background-color: green;
    width: 100%;
}
.recipe_image {
    padding: 0px !important;
    margin-top: 10px;
}
.ingredients {
    margin-top: -4px;
    margin-bottom: 10px;
}


/* cookbook page */
. cookbook_recipe_holder {
    margin-bottom: -30px;
}
.recipe_title {
    font-size: 23px;
}
.recipe_stuff {
    margin-top: -5px;
    margin-bottom: 5px;
}


.pushup {
    margin-top: -80px;
}
.rec_desc {
    height: 100%;
}


#bool_search {
    margin-top: -105px;
}

.pale_red {
    background-color: #af8888;
}

/* tooltip for servings multiplication: */
.material-tooltip .backdrop {
    background: transparent;
}
.material-tooltip {
    color: #444455;
    font-style: italic;
}


multiplied_amount {
    background-color: #acbfcc;
    background-color: #ccdadf;
    border-top: 3px solid #ccdadf;
    border-bottom: 3px solid #ccdadf;
}

/*highlights for text parsing:*/
highlighted {
    background-color: #ffff00;
}
/*
hi_number {
    background-color: #ffffaa;
}
hi_unit {
    background-color: #ccdfec;
}
hi_time {
    background-color: #ccffee;
}
hi_length {
    background-color: #ff99ff;
}
hi_temperature {
    background-color: #ffa0a0;
}
hi_plus {
    background-color: #88aaff;
}
hi_line_number {
    background-color: #cceecc;
    font-size: 20px;
}
hi_package_number {
    background-color: #ccffaa;
}
hi_package {
    background-color: #ccffaa;
}
hi_int {
    background-color: #ffffcc;
}
hi_float {
    background-color: #ffccaa;
}
hi_fraction {
    background-color: #ffcc99;
}
hi_int_fraction {
    background-color: #ffaacc;
}
hi_weight {
    background-color: #ccdfec;
}
hi_volume {
    background-color: #ccdffc;
}
hi_pcs {
    background-color: #dcdfec;
}
hi_english_number {
    background-color: #ffccff;
}
hi_each_number {
    background-color: grey;
}
hi_spacer {
    background-color: #ccccbb;
}
hi_text {
    background-color: #cccccf;
}
*/


.ghostbtn {
    padding: 0px 5px 35px 5px;
    float: left;
    border-radius: 30px;
    font-size: 12px;
    text-transform: none;
    background-color: #ffffe6;
}
.ghostbtn:hover {
    background-color: #cccccf !important;
}

.units_dropdown_btn {
    font-size: 12px;
    text-transform: none;
    color: white !important;
    min-height: 35px !important;
    height: 35px;
}
.units_dropdown {
    color: #445570 !important;
    min-height: 35px !important;
    height: 35px;
    background-color: #ffffe6;
    line-height: 11px !important;

}
.units_dropdown:hover {
    background-color: #cccccf;
}


/* units type drop down on recipe detail page: */
ul.dropdown-content li span {
    color: #445570;
    background-color: #ffffe6;
}
/* ul.dropdown-content.select-dropdown li span { } */

ul.dropdown-content li span:hover {
    background-color: #cccccf;
}


/* page footer */
/*make the page footer smaller:*/
footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 30px;
  line-height: 35px;
}
.modal.modal-fixed-footer {
    padding: 0;
    height: 30%;
    max-height: 300px;
}

/* main navigation menu: */
div.nav-wrapper li a:link {
    font-size: 14px;
}
/* side navigation menu: */
.sidenav_btn {
    border: 6px solid grey;
    margin-top: 3px;
    border-radius: 50px;
}
div.nav-wrapper li.sidenav_btn a:link {
    font-size: 30px;
    font-family: 'Great Vibes', cursive;
}



/*welcome page circle*/
.welcome_circle {
    width: 70vw;
    height: 70vw;
    max-width: 850px;
    max-height: 850px;
    min-width: 320px;
    min-height: 320px;
    border-radius: 50%;
    border: 2vw solid #607082;
    display: block;
    margin: auto;
    margin-top: 0px;
    transition: all .25s;
}
.welcome {
    font-family: 'Clicker Script', cursive;
    font-size: 11vw;
    margin-top: 3vw;
    transition: all .5s;
}
.welcome_text {
    margin-top: -11vw;
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 2.4vw;
}
/* these two media queries make sure the welcome page looks good on allll the screen sizes */
@media (min-width: 1250px) {
  .welcome_text {
    font-size: 27px;
    margin-top: -250px;
  }
  .welcome_circle {
    border: 23px solid #607082;
  }
  .welcome {
    font-size: 190px;
  }
}
@media (max-width: 500px) {
    .welcome_circle {
        border-radius: 0px;
        min-width: 100%;
        height: 430px;
    }
   .welcome_text {
    font-size: 16px;
  }
}


/* add / edit recipe pages */
.img_upload_btn {
    text-transform: none;
}
.edit_recipe_img {
    max-height: 150px;
}
.existing_recipe_img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    float: right;
}

/* cookbook page, recipe search */

.cookbook_thumbnail {
    max-height: 50px;
    margin-top: 5px;
    height: auto;
}
